@font-face {
    font-family: 'Big Sexy Sans';
    src: url('BigSexySansRegular.eot');
    src: local('Big Sexy Sans'), local('BigSexySansRegular'),
        url('BigSexySansRegular.eot?#iefix') format('embedded-opentype'),
        url('BigSexySansRegular.woff2') format('woff2'),
        url('BigSexySansRegular.woff') format('woff'),
        url('BigSexySansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

