body{
    background-image: url(home.jpg);
    background-size: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
@font-face {
    font-family: 'BIGSEXYSANS-Regular.woff2';
    src: url();
}