
body{
    font-size:0;
    margin:10px;
    margin-right:0;
}


.grid-unit{
    width:calc(25% - 10px);
    background-color:blue;
    height: 300px;
    display:inline-block;
    margin-right:10px;
    margin-bottom:10px;
}

.special{
    background-color:red;
}